
@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1495198477507'); /* IE9*/
  src: url('../iconfont/iconfont.eot?t=1495198477507#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1495198477507') format('woff'), /* chrome, firefox */
  url('../iconfont/iconfont.ttf?t=1495198477507') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg?t=1495198477507#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rili:before { content: "\e600"; }

.icon-weixin:before { content: "\e601"; }

.icon-gouwudai:before { content: "\e60a"; }

.icon-jiantou:before { content: "\e6b7"; }

.icon-fanhuidingbu:before { content: "\e661"; }

.icon-xing:before { content: "\e603"; }

.icon-wujiaoxingshixin:before { content: "\e652"; font-size: 26px;}

.icon-quanping:before { content: "\e675"; }

.icon-shouji:before { content: "\e647"; }

.icon-baocun:before { content: "\e684"; font-size: 24px;}

.icon-nanzhuang:before { content: "\e63c"; }

.icon-xuanzhuan:before { content: "\e60b"; }

.icon-fangdajing:before { content: "\e605"; }

.icon-circle:before { content: "\e69d"; font-size: 26px;}

.icon-search2:before { content: "\e62a"; }

.icon-ziti:before { content: "\e63b"; }

.icon-shangyibu:before { content: "\e7e8"; font-size: 24px;}

.icon-liubianxing:before { content: "\e604"; font-size: 26px;}

.icon-huahuayanliaoban:before { content: "\e623"; font-size: 24px;}

.icon-yingerche:before { content: "\e61f"; }

.icon-rect:before { content: "\e628"; font-size: 26px;}

.icon-wubianxing:before { content: "\e663"; font-size: 26px;}

.icon-qianbi-copy:before { content: "\e616"; font-size: 26px;}

.icon-xiangbao:before { content: "\e642"; }

.icon-nvzhuang:before { content: "\e664"; }

.icon-zhixian:before { content: "\e6f3"; }

.icon-xin:before { content: "\e6b9"; }

.icon-gemstone:before { content: "\e6ba"; }

.icon-xiguangongju:before { content: "\e670"; }

.icon-xiexue:before { content: "\e621"; }

.icon-fangzi:before { content: "\e602"; }

.icon-quxian:before { content: "\e61b"; }

.icon-tianchong:before { content: "\e680"; font-size: 26px;}

.icon-yuanjiaojuxing:before { content: "\e651"; font-size: 26px;}

.icon-peishi:before { content: "\e690"; }

.icon-yundong:before { content: "\e920"; }

.icon-hufu:before { content: "\e6c7"; }

.icon-miaobian:before { content: "\e795"; font-size: 26px;}

.icon-xiangpi:before { content: "\e747"; font-size: 26px;}

